.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# コンテスト設定ファイル
contest.acc.json

# テスト・実行ファイル
test/
*.exe
*.txt
*.csv